.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    .menuBtn {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 20px;
        font-weight: 300;
        border: none;
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
        margin-right: 50px;
        transition: color 0.3s ease;
        &:hover {
            font-weight: 600;
            background:  #f8ab04;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
    }
}
